@charset "utf-8";

:root {
  --blue: #2870FF;
  --navy: #395078;
  --red: #FC526E;
  --pink: #EE6DCB;
  --green: #3DC4B6;
  --white: #fff;
  --black: #000;
  --dark1: #222;
  --dark2: #585D72;
  --dark3: #898D9C;
  --light1: #EDEFF2;
  --light2: #D6DBE2;
  --light3: #CCCED4;
  --shadow: 0 2px 4px rgba(34,34,34, 0.08);
}

/* loading */
.loading_xl, .loading_md, .loading_sm, .page_loading {
  position: relative;
}
.loading_xl::before, .loading_md::before, .loading_sm::before, .page_loading::before {
  position: absolute; top: 0; left: 0; z-index: 900;
  content: "";
  display: block;
  width: 100%; height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.loading_xl::after, .loading_md::after, .loading_sm::after, .page_loading::after {
  position: absolute; top: 50%; left: 50%; z-index: 900;
  content: "";
  display: block;
  background: url(../../images/common/loading.svg) no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
}
.loading_xl::after {
  width: 102px; height: 102px;
}
.loading_md::after {
  width: 72px; height: 72px;
}
.loading_sm::after {
  width: 34px; height: 34px;
}
.page_loading::before {
  position: fixed;
}
.page_loading::after {
  position: fixed;
  width: 102px; height: 102px;
}

/* 에러페이지 */
.error_wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 20px; 
	width: 100vw; height: 100vh;
	justify-content: center; align-items: center;
	background-color: #fff;
  overflow: hidden;
}
.error_box {
  position: relative;
  padding-left: 70px;
	color: #222; text-align: left; word-break: keep-all;
}
.error_box .title {
  margin-bottom: 8px;
  font-size: 8rem; font-weight: 600; line-height: 11.9rem;
}
.error_box .title::before {
  position: absolute; left: 0; top: 26px;
  content: "";
  display: inline-block;
  width: 49px; height: 93px;
  background: url(../../images/common/img_error.png) no-repeat center;
  background-size: contain;
}
.error_box strong {
	display: block;
	margin-bottom: 16px;
	font-size: 3rem; line-height: 4.5rem; font-weight: 600;
}
.error_box .txt {
	margin-bottom: 32px;
	font-size: 1.6rem; line-height: 2.4rem; color: #898D9C;
  font-weight: 500;
}
.error_box a {
  position: relative;
	display: inline-flex;
  align-items: center;
	padding: 10px 34px;
  height: 60px;
	font-size: 1.6rem; color: var(--white);
	background: var(--blue);
	border-radius: 30px;
  transition: 0.2s;
}
.error_box a::after {
  content: "";
  display: inline-block;
  margin-left: 32px;
  width: 24px; height: 16px;
  background: url(../../images/common/img_white_arrow.png) no-repeat center;
  background-size: contain;
}
.error_box a:hover {
  background-color: #2450A8;
}

/* skeleton */
.skeleton span, 
.skeleton strong, 
.skeleton ul, 
.skeleton p,
.skeleton .img_wrap {
  position: relative;
  border: none !important;
  border-radius: 10px;
  overflow: hidden;
}
.skeleton .img_wrap::before,
.skeleton span::before, 
.skeleton strong::before, 
.skeleton ul::before,
.skeleton p::before
{
  position: absolute; left: 0; top: 0; z-index: 900;
  content: "";
  display: block;
  width: 100%; height: 100%;
  background-color: var(--light3);
}
.skeleton .img_wrap::after,
.skeleton span::after, 
.skeleton strong::after, 
.skeleton ul::after,
.skeleton p::after
{
  position: absolute; top: 0; left: 0; z-index: 901;
  content: '';
  width: 100%; height: 100%;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(37, 22, 22, 0));
  animation: shimmer 1.5s infinite;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* 바디 설정 */
body { overflow: visible; }
html:has(body.on) {
  margin-right: 10px; overflow: hidden;
}
html:has(body.on) .header_wrap {
  left: -4px;
}

/* skip-nav */
.skip_nav a {
	position: absolute; top: -200px; left: 50%; z-index: 9999;
	display: inline-block;
	padding: 1em;
	color: var(--white); font-size: 1.6rem; text-align: center;
	background-color: #034283;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 4px 14px rgba(0,0,0,0.4);
	transform: translateX(-50%);
	outline: none;
}
.skip_nav a:focus {
	top: 0;
}

/* 페이지 전체 */
.page_wrap {
	position: relative;
	min-height: 100vh;
	background-color: #f4f5fa;
}


/* header */
.header_wrap {
	position: fixed; top: 0; z-index: 999;
  width: 100%;
  align-items: center; justify-content: center;
	background-color: var(--white);
}
.header_top {
  position: relative;
  display: flex;
  height: 72px;
  align-items: center; justify-content: center;
  border-bottom: 1px solid var(--light1);
}
/* 삭제 해야함 0215 */
.header_top .btn_xs {
  display: none;
}
.btn_menu {
  position: absolute; left: 0; top: 50%;
  display: none;
  font-size: 0; line-height: 0;
  width: 24px; height: 24px;
  background: url(../../images/common/icon_sitemap.svg) no-repeat center;
  transform: translateY(-50%);
}
.header_logo {
  position: absolute; left: 50%; top: 50%;
  display: inline-block; 
  max-width: 250px; max-height: 46px;
  transform: translate(-50%, -50%);
}
.header_logo a {
  display: block;
}
.header_logo img {
  width: 100%;
}

/*  */
.header_function {
  position: absolute; right: 0; top: 50%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}
.header_function button {
  position: relative;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
}
.header_function .btn_alarm {
  width: 36px; height: 36px;
  background-image: url(../../images/common/icon_bell.svg);
  background-size: auto 16px;
}
.header_function .btn_alarm.on::after {
  position: absolute; top: 7px; right: 8px;
  content: "";
  display: inline-block;
  width: 10px; height: 10px;
  background-color: var(--red);
  border: 2px solid var(--white);
  border-radius: 50%;
}
.header_function .btn_mypage {
  margin-left: 4px;
  width: 36px; height: 36px;
  background-image: url(../../images/common/icon_mypage.svg);
}
.header_wrap .btn_manual {
  position: relative;
  margin-left: 12px;
  padding: 2px 0 2px 40px;
  font-size: 1.2rem; font-weight: 500;
  background: url(../../images/common/icon_manual.svg) no-repeat left 15px center;
}
.header_wrap .btn_manual::before {
  position: absolute; left: 0; top: 50%;
  content: "";
  display: inline-block;
  width: 1px; height: 10px;
  background: #D9D9D9;
  transform: translateY(-50%);
}
.header_function .text {
  width: auto !important; height: auto !important;
  font-size: 1.4rem; font-weight: 500;
}
.header_function .text::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 1px; height: 10px;
  background-color: #D9D9D9;
}

.header_bottom {
  position: relative;
  display: flex;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid var(--light1);
  transition: 0.2s;
}
.scrolly .header_bottom {
  height: 0; z-index: -1;
}
.scrolly .gnb_1depth a {
  opacity: 0;
}
.header_bottom .grid_content {
  height: 100%;
}
.nav_wrap {
  height: 100%;
}
.gnb_1depth {
  display: flex;
  height: 100%;
  align-items: center; justify-content: center;
}
.gnb_1depth a {
  position: relative;
  display: flex;
  margin-right: 50px;
  height: 100%;
  align-items: center; justify-content: center;
  font-size: 1.8rem; font-weight: 500;
  transition: 0.1s;
}
.gnb_1depth a:last-child {
  margin-right: 0;
}
.gnb_1depth a::after {
  position: absolute; bottom: -1px;
  content: "";
  display: inline-block;
  width: 0; height: 2px;
  background-color: var(--blue);
  transition: 0.15s;
}
.gnb_1depth a.on {
  color: var(--blue); font-weight: 600;
}
.gnb_1depth a.on::after {
  width: 100%;
}
.gnb_submenu {
  display: none;
}

/* content */
.content_wrap {
  padding-top: 193px;
	min-height: calc(100vh - 50px);
}

/* footer */
.footer_wrap {
  display: flex;
  height: 50px;
  align-items: center; justify-content: center;
  color: var(--dark2); font-size: 1.2rem;
}
.footer_wrap .copyright {
  margin-right: 20px;
  font-weight: 200;
}
.footer_wrap a {
  vertical-align: top; font-weight: 500;
}
.footer_wrap a::after {
  position: relative; top: 4px;
  content: "";
  display: inline-block;
  margin: 0 12px;
  width: 1px; height: 12px;
  vertical-align: top;
  background-color: var(--dark3);
}
.footer_wrap a:last-child::after {
  display: none;
}
.footer_wrap .bold {
  color: var(--dark1);
}
.footer_logo {
  position: relative; 
  /* top: -3px; */
  display: none;
  top: -2px;
  /* margin-left: 30px; */
  margin-left: 10px;
  /* width: 95px; */
  width: 120px;
}
.footer_logo img {
  width: 100%;
}
.move_top {
  position: fixed; right: 40px; bottom: -200px; z-index: 900;
  padding: 32px 0 0;
  width: 62px; height: 62px;
  text-align: center;
  background: var(--white) url(../../images/common/icon_arrowup.png) no-repeat top 17px left 50%;
  border: 1px solid #D6DBE2;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.16);
  transition: 0.4s;
}
.move_top.on {
  bottom: 40px;
}

@media screen and (max-width: 1280px) {

  /* header */
  .gnb_1depth a {
    margin-right: 25px;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1025px) {
  /* header */
  .header_wrap:hover .header_bottom {
    height: 60px; z-index: 1;
  }
  .header_wrap:hover .gnb_1depth a {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {

  /* 에러페이지 */
  .error_box {
    padding-left: 60px;
  }
  .error_box .title {
    font-size: 6rem; line-height: 8rem;
  }
  .error_box .title::before {
    top: 14px; left: 5px;
    width: 40px; height: 75px;
  }
  .error_box strong {
    font-size: 2.4rem; line-height: 3.2rem;
  }
  .error_box a {
    padding: 10px 24px;
    height: 50px;
  }

  /* header */
  .header_logo { 
    max-width: 200px; 
  } 
  .header_top {
    height: 56px;
  }
  .btn_menu {
    display: block;
  }  
  .header_function .btn_mypage {
    margin-left: 0;
  }
  .header_function .btn_manual {
    display: none;/**/
    padding: 0;
    font-size: 0;
    background-position: center;
  }
  .header_function .btn_manual::before {
    display: none;
  }
  .header_bottom {
    display: none;
  }

  /* gnb sub menu */
  .gnb_submenu { 
    position: absolute; left: -100%; top: 56px;
    display: block; 
		width: 100%; height: calc(100vh - 56px); 
    background-color: #fff;  
    overflow: hidden;
    transition : 0.2s;
  } 
  body.gnb .gnb_submenu {
    left: 0;
    padding-top: 24px;
  } 

  .sub_1depth {
    display: block;
  }
  .sub_1depth > li > a {
    position: relative;
    display: block;
    margin-right: 0;
    padding: 14px 0;
    height: auto; 
    font-size: 1.6rem; font-weight: 500; line-height: 2.4rem;
    opacity: 1;
    transition : opacity 0.2s;
  } 
  .sub_1depth > li > a .sub_more {
    position: absolute; right: 0; top: 50%;
    display: block;
    width: 24px; height: 24px;
    font-size: 0; line-height: 0;
    background: url(../../images/common/icon_sub2depth.svg) no-repeat center; 
    transform: translateY(-50%);
  }
  .sub_1depth > li.gnb > a .sub_more {
    transform: translateY(-50%) rotate(180deg);
  }

  .sub_footer {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid rgba(204,206,212, 0.2);
  }
  .header_wrap .btn_manual {
    display: block;
    padding-left: 30px;
    margin: 8px 0;
    font-size: 1.6rem; 
    background-position: left center;
  }
  .header_wrap .btn_manual::before {
    display: none;
    margin: 0;
    height: 36px;
  }

  .nav_wrap {
    margin-right: -8px;
    padding-right: 8px;
    max-height: calc(100vh - 153px);
    overflow-y: scroll;
  }
	.nav_wrap::-webkit-scrollbar {
		display: none;
	}

  .sub_2depth {
    max-height: 0;
    transition : max-height 0.2s;
    overflow: hidden;
  } 
  .sub_2depth > li > a {
    display: block;
    padding: 8px 20px;
    font-size: 0;
  }
  .sub_1depth > li.gnb .sub_2depth {
    padding: 12px 0;
    margin: 10px 0;
    background-color: rgba(224,225,229, 0.2);
    border-radius: 4px; 
  } 
  .sub_1depth > li.gnb .sub_2depth > li > a { 
    height: auto; 
    font-size: 1.6rem; font-weight: 500; line-height: 2.4rem;
    opacity: 1;  
  }
  .sub_1depth > li.gnb .sub_2depth > li:last-child > a {
    margin-bottom: 0;
  }


  body.gnb .btn_menu {
    background-image: url(../../images/common/icon_sitemap_close.svg);
  }

  /* content */
  .content_wrap {
    padding-top: 90px;
  }

}

@media screen and (max-width: 768px) {

  /* footer */
  .move_top {
    right: 20px;
    padding-top: 22px;
    width: 50px; height: 50px;
    background-position: center top 12px;
    background-size: auto 5px;
  }
  .move_top.on {
    bottom: 35px;
  }

}

@media screen and (max-width: 480px) {

  /* 바디 설정 */
  html:has(body.on) {
    margin-right: 0;
  }
  html:has(body.on) .header_wrap {
    left: 0;
  }

  /* header */
  .header_top .grid_content {
    padding: 0;
    max-width: calc(100% - 40px);
  }
  .header_logo { 
    max-width: 140px; max-height: 48px;
  } 
  /* footer */
  .footer_logo {
    display: none;
  }
  .footer_wrap .copyright {
    margin-right: 15px;
  }

}

@media screen and (max-width: 320px) {
  /* content */
  .content_wrap {
    min-height: calc(100vh - 66px);
  }

  /* footer */
  .footer_wrap {
    display: block;
    padding: 10px 0;
    height: auto;
    text-align: center;
  }
  .footer_wrap .copyright {
    margin-right: 0; margin-bottom: 8px;
  }
  .move_top {
    right: 10px;
  }
  
}